body {
  text-align: center;
  background: #222;
  color: white;
  font-family: Arial, sans-serif;
}

h1 {
  margin-top: 10px;
  color: #f39c12;
}

h2 {
  margin: 5px;
  color: #27ae60;
}

canvas {
  border: 3px solid white;
  margin-top: 10px;
  background: #333;
}
    